<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>icon</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p><h4>{{ message }}</h4></p>  
               {% endfor %}  
         {% endif %}  
      {% endwith %}  
    <a href="{{ url_for('update')}}"><button>NEW ACCOUNT</button></a>
    <a href="{{ url_for('get_details')}}"><button>AC DETAILS</button></a>

    <a href="{{url_for('deposit')}}"><button>DEPOSIT</button></a>
    <a href="{{url_for('withdraw')}}"><button>WITHDRAW</button></a>
    <a href="{{url_for('transfer')}}"><button>TRANSFER</button></a>
    <a href="{{url_for('welcome')}}"><button>LOG OUT</button></a>
</body>
</html>